<html>

<head>
    <title>Spiralyze - Flickr Grid</title>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
        <%- include('partials/header') %>
        <div class="row" id="results"></div>
    </div>
</body>
<%- include('partials/foot') %>
<script src="/javascripts/flickr.js"></script>
</html>